<!--
  ~ Copyright 2014 the original author or authors
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="terms-list-control(component)">
    <table class="table table-striped">
        <tr class="js-terms-typeahead-template hidden">
            <td data-as-property="label">{{value}}</td>
            <td class="row-actions">
                <a role="button" class="btn btn-link" title="Remove" href="#"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>
                <input type="hidden" disabled="disabled" th:name="${component.controlName}" value="{{value}}" />
            </td>
        </tr>
        <tr class="js-terms-value-item" th:each="value : ${component.getAttribute('values')}">
            <td>[[${value}]]</td>
            <td class="row-actions">
                <a role="button" class="btn btn-link" title="Remove" href="#"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>
                <input type="hidden" th:name="${component.controlName}" th:value="${value.id}"/>
            </td>
        </tr>
    </table>
    <input type="hidden" th:name="${'_' + component.controlName}" value="on"/>
</div>
</html>